@import './variables.css';
@import './buttons.css';
@import './sections.css';
@import './cards.css';
@import './utilities.css';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-sans);
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a {

    text-decoration:none;

    color:inherit;

    transition:
        color .2s ease;

}

h1,
h2,
h3 {

    font-family: var(--font-heading);

}
